.calc {
  margin-top: 154px;

  &__title {
    margin-bottom: 50px;
  }
  &__form {
    box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
    border-radius: 10px;
    padding: 24px 15px;
  }
  &__xl {
    display: none;
  }
}
@include big-desktop {
  .calc__xxl {
    display: none;
  }
  .calc__xl {
    display: flex;
    margin-top: 50px;
  }
}
@include big-mobile {
  .calc__xxl {
    display: flex;
    margin-top: 50px;
  }
  .calc__xl {
    display: none;
  }
}

.calculator {
  box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
  border-radius: 10px;
  max-width: 1250px;
  margin: 0 5px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 55px;

  &__title {
    font-size: 24px;
    font-family: "InterSemiBold";
    margin-bottom: 23px;
    @include tablet {
      font-size: 18px;
    }
    @include big-mobile {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  &__top {
    @include big-mobile {
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
  }
  &__items {
    margin-top: 52px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: left;
    height: 60px;
    background: #e5ebff;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__type {
    margin-left: 16px;
    width: 25%;
    @include mobile {
      width: 50%;
    }
  }
  &__price {
    max-width: 174px;
    width: 25%;
    @include mobile {
      display: none;
    }
  }
  &__icons {
    width: 10px;
    height: 10px;
    fill: #fff;
  }
  &__toggle {
    padding-left: 10%;
    width: 25%;
    @include wide-mobile {
      padding-left: 0;
    }
    @include mobile {
      width: 30%;
    }
  }
  &__btn {
    background-color: inherit;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      background-color: var(--main-color);
      width: 24px;
      height: 24px;
      z-index: -1;
      border-radius: 50%;
    }
  }
  &__plus {
    position: absolute;
    bottom: 20%;
    left: 0;
    transform: rotate(90deg);
  }
  &__count {
    text-align: center;
    width: 20px;
    background-color: inherit;
    margin: 0 10px;
  }
  &__info {
    position: relative;
    display: inline;
    width: 8px;
    height: 16px;
    z-index: 2;
    margin-right: 25px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--main-color);
      width: 24px;
      height: 24px;
      z-index: -1;
      border-radius: 50%;
    }
    @include wide-mobile {
      display: none;
    }
  }
  &__title3 {
    font-size: 20px;
    margin: 0 auto;
    width: 500px;
    font-family: "InterSemiBold";
    margin-top: 48px;
    @include big-desktop {
      display: none;
    }
  }
  .calculator-first {
    background-color: var(--main-color);
    color: #fff;
    .calculator__count {
      color: #fff;
    }
    .calculator__btn {
      &::before {
        background-color: #e5ebff;
      }
    }
    .calculator__info {
      &::before {
        background-color: #e5ebff;
      }
    }
  }

  .calculator-nonprice {
    position: relative;
    z-index: 2;
    .calculator__type {
      width: 90%;
    }
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 90%;
      background-color: #b6f6ff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    @include wide-mobile {
      display: none;
    }
  }

  @include big-mobile {
    box-shadow: none;
  }
}
.select {
  position: relative;
  max-width: 300px;
  font-size: 17px;
  font-family: "Inter";
  margin: 0 auto;
  &__top {
    position: relative;
    height: 53px;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
  }
  &__input {
    text-align: left;
    position: relative;
    width: 85%;
    height: 100%;
    padding: 0 25px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    @include tablet {
      padding: 0 10px;
    }
  }
  &__options {
    z-index: 3;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--main-color);
    height: 0;
    margin-top: 10px;
    overflow-y: hidden;
    transition: 0.4s;
  }
  &__option {
    position: relative;
    padding-left: 15px;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
    color: #fff;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      padding-left: 20px;
    }
  }
  &__arrow {
    width: 22px;
    height: 12px;
    @include tablet {
      padding-right: 5px;
    }
  }
  @include big-desktop {
    max-width: 280px;
  }
  @include big-desktop {
    max-width: 280px;
  }
  @include big-mobile {
    max-width: 100%;
  }
}
.select.select--active .select__options {
  height: 180px;
}
.select .select__options .select__option.select__option--selected {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.select2.select2--active .select2__options {
  height: 180px;
}

.area {
  margin: 0 auto;
  max-width: 300px;
  height: 53px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  &__input {
    font-family: "InterSemiBold";
    margin-left: 5px;
    width: 20%;
    text-align: right;
    height: 100%;
    cursor: pointer;
  }
  &__sqare {
    font-family: "InterSemiBold";
    font-size: 18px;
    margin-right: 15%;
  }
  @include big-desktop {
    max-width: 280px;
  }
  @include big-mobile {
    max-width: 100%;
    width: 100%;
  }
}
sup {
  vertical-align: super;
  font-size: 11px;
  font-family: "InterBold";
}

.total {
  margin-top: 52px;
  box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
  border-radius: 10px;

  &__title {
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__body {
    padding: 24px 15px;
  }
  &__items {
    margin-top: 32px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 6px 0;
    @include wide-mobile {
      font-size: 14px;
    }
    @include mobile {
      font-size: 12px;
    }
  }
  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 44px;
    font-family: "InterSemiBold";
    color: var(--main-color);
  }
  @include big-desktop {
    margin-top: 0;
  }
}
.form {
  &__title {
    margin: 0 auto;
    max-width: 250px;
    margin-bottom: 32px;
    @include big-desktop {
      text-align: center;
      max-width: 100%;
    }
  }
  &__input {
    width: 100%;
    font-size: 17px;
    font-family: "Inter";
    height: 53px;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    padding: 20px;
    margin: 6px 0;
  }
  &__textarea {
    height: 135px;
    resize: none;
  }
  &__btn {
    margin-top: 10px;
  }
}
