.header {
  display: flex;
  margin-top: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
  .row > * {
    width: inherit;
  }
  &__social {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 160px;
  }
  .social-col {
    @include mobile {
      margin-left: auto;
    }
  }
  &__location {
    margin-left: auto;
    text-align: right;
    @include tablet {
      display: none;
    }
  }
  &__mail {
    text-align: right;
    @include tablet {
      padding-left: auto;
    }
    @include mobile {
      display: none;
    }
  }
}
.social {
  &__item {
    display: inline;
    width: 32px;
    height: 32px;
  }
}
