.our-workers {
  margin-top: 142px;
  .row {
    position: relative;
  }
  &__circles {
    position: absolute;
    top: 6%;
    right: 1%;
    max-width: 100px;
    max-height: 52px;
    padding: 0;
    img {
      width: 100%;
    }
    @include wide-mobile {
      display: none;
    }
  }
  &__title {
    margin-bottom: 25px;
    font-size: 40px;
  }
  &__slider {
    position: relative;
    padding-bottom: 50px;
  }
  &__item {
    text-align: center;
  }
  &__text {
    top: -25px;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translate(-50%, 0);
      background-image: url("../../img/Ellipse-services.png");
      background-repeat: no-repeat;
      width: 189px;
      height: 78px;
      z-index: -1;
    }
  }
  &__name {
    font-family: "InterBold";
    font-size: 20px;
    line-height: 29px;
  }
  &__pagination {
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 0);
  }
}

.swiper-pagination {
  position: absolute;
  display: flex;
  width: 75px !important;
  height: 15px;
  justify-content: space-between;
  margin: 0;
}
.swiper-pagination-bullet {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #4a72ff;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
