<div class="advantages">
  <div class="container">
    <div class="row">
      <div class="advantages__image advantages__image--1">
        <img src="../img/circles1.png" class="" alt="" />
      </div>
      <div class="col-md-3 col-6">
        <div class="advantages__item">
          <h2 class="advantages__title">57+</h2>
          <p class="advantages__text">Выполненных проектов</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="advantages__item">
          <h2 class="advantages__title">305+</h2>
          <p class="advantages__text">Экспертов по уборке</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="advantages__item">
          <h2 class="advantages__title">48+</h2>
          <p class="advantages__text">Довольных клиентов</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="advantages__item">
          <h2 class="advantages__title">125+</h2>
          <p class="advantages__text">Убранных квартир</p>
        </div>
      </div>
      <div class="advantages__image advantages__image--2">
        <img src="../img/circles2.png" class="" alt="" />
      </div>
    </div>
  </div>
</div>
