<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="contact-us__image contact-us__image--1">
        <img src="../img/circles1.png" class="" alt="" />
      </div>
      <div class="col-12">
        <div class="contact-us__title main-title">
          <h1>Связаться с нами</h1>
        </div>
      </div>
      <div class="col-7">

        <div class="contact-us__request">
          <p class="contact__text">
            Отправьте заявку – менеджер свяжется с Вами в ближайшее время.
          </p>
          <form action="#" class="contact-us__c-form c-form">
            <label class="c-form__label">
              <input
                type="text"
                name="Имя"
                class="input-reset c-form__input c-form__name"
                placeholder="Ваше имя"
              />
              <svg class="c-form__icon">
                <use xlink:href="img/sprite.svg#name"></use>
              </svg>
            </label>
            <label class="c-form__label">
              <input
                type="text"
                name="Телефон"
                class="input-reset c-form__input c-form__phone"
                placeholder="Телефон"
              />
              <svg class="c-form__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </label>
            <label class="c-form__label">
              <input
                type="mail"
                name="Почта"
                class="input-reset c-form__input c-form__mail"
                placeholder="E-mail"
              />
              <svg class="c-form__icon">
                <use xlink:href="img/sprite.svg#email"></use>
              </svg>
            </label>
            <button class="btn-reset c-form__btn main-btn">Отправить</button>
          </c-form>
        </div>
      </div>
      <div class="col-5">
        <div class="contact-us__social c-social">
          <p class="c-social__title">
            Удобно общаться через соцсети?
          </p>
          <p class="c-social__text">Пишите нам</p>
          <div class="c-social__links">
            <a class="c-social__link">
              <img loading="lazy" src="../img/contact-inst.svg" class="c-social__icon" width="50" height="50" alt="">
              <span>Instagram</span>
            </a>
            <a class="c-social__link">
              <img loading="lazy" src="../img/contact-whats.svg" class="c-social__icon" width="50" height="50" alt="">
              <span>WhatsApp</span>
            </a>
            <a class="c-social__link">
              <img loading="lazy" src="../img/contact-tg.svg" class="c-social__icon" width="50" height="50" alt="">
              <span>Telegram</span>
            </a>
          </div>
        </div>
      </div>
      <div class="contact-us__image contact-us__image--2">
        <img src="../img/circles2.png" class="" alt="" />
      </div>
    </div>
  </div>
</div>
