<div class="entities">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Для юридических лиц</span>
        </div>
        <div class="entities__title main-title">
          <h1>Клининг для юридических лиц и организаций</h1>
        </div>
        <p class="entities__text">
          Клининговая компания «Rostov Clean» оказывает услуги в сфере клининга
          предприятиям, организациям, предпринимателям и другим юридическим
          лицам.
        </p>
        <ul class="entities__list">
          <li class="entities__item">Уборка офисов</li>
          <li class="entities__item">Уборка помещений</li>
          <li class="entities__item">Торговые центры</li>
          <li class="entities__item">Промышленные предприятия</li>
        </ul>
        <button class="entities__btn main-btn">Оставить заявку</button>
      </div>
      <div class="col-lg-6 col-md-12 align-center tablet-circles">
        <div class="entities__images main-images">
          <picture>
            <source srcset="../img/our-works-img.avif" type="image/avif" />
            <source srcset="../img/our-works-img.webp" type="image/webp" />
            <img
              loading="lazy"
              src="../img/our-works-img.png"
              class="main-image"
              width="417"
              height="417"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="../img/our-works-transparent-img1.avif"
              type="image/avif"
            />
            <source
              srcset="../img/our-works-transparent-img1.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="../img/our-works-transparent-img1.png"
              class="transparent-image1 transparent-image"
              width=""
              height=""
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="../img/our-works-transparent-img2.avif"
              type="image/avif"
            />
            <source
              srcset="../img/our-works-transparent-img2.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="../img/our-works-transparent-img2.png"
              class="transparent-image2 transparent-image"
              width=""
              height=""
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="../img/our-works-transparent-img3.avif"
              type="image/avif"
            />
            <source
              srcset="../img/our-works-transparent-img3.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="../img/our-works-transparent-img3.png"
              class="transparent-image3 transparent-image"
              width=""
              height=""
              alt=""
            />
          </picture>
          <img
            src="../img/Ellipse-services.png"
            alt=""
            class="elipse elipse-1 back-image"
          />
          <img
            src="../img/Ellipse-services.png"
            alt=""
            class="elipse elipse-2 back-image"
          />
          <img
            src="../img/circles1.png"
            alt=""
            class="circles1 our-works__circle back-image"
          />
        </div>
        <img src="../img/circles1.png" alt="" class="our-works__circle--1" />
        <img src="../img/circles2.png" alt="" class="our-works__circle--2" />
      </div>
    </div>
  </div>
</div>
