<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="footer__nav nav" title="навигация по сайту">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Калькулятор стоимомсти</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">О компании</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12">
        <p class="footer__text">
          Клининг Ростов-на-Дону 2022. Политика обработки персональных данных
        </p>
      </div>
    </div>
  </div>
</footer>
