<header class="header2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3 header2__logo">
        <a href="#" aria-labelledby="Логотип "
          ><img src="../img/logo.png" alt="Логотип"
        /></a>
      </div>
      <nav class="col-7 header2__nav nav" title="">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Услуги</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Калькулятор стоимомсти</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">О компании</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="col-2 header2__number">
        <span>+7 (918) 565-75-36</span>
      </div>
    </div>
  </div>
</header>
