<header class="header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-6 col-md-3 col-xs-4 social-col">
        <ul class="header__social social" title="">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--tg"
              aria-label="Наша страничка в Фейсбуке"
              ><img src="../img/telegram.png" alt="telegram"
            /></a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--wt"
              aria-label="Наша страничка во Вконтакте"
              ><img src="../img/whatsapp.png" alt="whatsapp"
            /></a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--vk"
              aria-label="Наша страничка в Твиттере"
              ><img src="../img/vk.jpg" alt="vk"
            /></a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-md-5 header__location">
        <span>г. Ростов-на-Дону, ул. Портовая, д. 393</span>
      </div>
      <div class="col-xl-2 col-md-3 col-xs-4 header__mail">
        <span>info@cliningrnd.ru</span>
      </div>
    </div>
  </div>
</header>
