<div class="how-work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Работа</span>
        </div>
        <div class="our-works__title main-title">
          <h1>Как мы работаем</h1>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="how-work__card how-work__card--1">
          <div class="how-work__card-top">
            <img
              loading="lazy"
              src="../img/svg/applications.svg"
              class="image"
              alt=""
            />
          </div>
          <div class="how-work__card-body">
            <h2 class="how-work__card-title">Легкое заполнение заявки</h2>
            <p class="how-work__card-text">
              Обратившись в нашу клининговую компанию вы получите клининговые
              услуги на высочайшем уровне, и индивидуальный подход к каждому
              клиенту.
            </p>
          </div>
          <svg class="how-work__arrow">
            <use xlink:href="img/sprite.svg#slider-arrow(right)"></use>
          </svg>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="how-work__card how-work__card--2">
          <div class="how-work__card-top">
            <img
              loading="lazy"
              src="../img/svg/cleaning.svg"
              class="image"
              alt=""
            />
          </div>
          <div class="how-work__card-body">
            <h2 class="how-work__card-title">Выезд к вам и уборка</h2>
            <p class="how-work__card-text">
              Обратившись в нашу клининговую компанию вы получите клининговые
              услуги на высочайшем уровне, и индивидуальный подход к каждому
              клиенту.
            </p>
          </div>
          <svg class="how-work__arrow">
            <use xlink:href="img/sprite.svg#slider-arrow(right)"></use>
          </svg>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="how-work__card how-work__card--3">
          <div class="how-work__card-top">
            <img
              loading="lazy"
              src="../img/svg/enjoy-result.svg"
              class="image"
              alt=""
            />
          </div>
          <div class="how-work__card-body">
            <h2 class="how-work__card-title">Насладждайтесь результатом</h2>
            <p class="how-work__card-text">
              Обратившись в нашу клининговую компанию вы получите клининговые
              услуги на высочайшем уровне, и индивидуальный подход к каждому
              клиенту.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
