<section class="order">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Лучший клинговый сервис</span>
        </div>
        <div class="order__title main-title">
          <h1>
            Клининговая компания Лучшие
            <span class="order__title--elipse">услуги</span>
          </h1>
        </div>
        <div class="order__text">
          Обратившись в нашу клининговую компанию вы получите клининговые услуги
          на высочайшем уровне, и индивидуальный подход к каждому клиенту.
        </div>
        <button class="order__btn main-btn">Заказать уборку</button>
      </div>

      <div class="col-6 order__pseudo">
        <div class="order__image">
          <img src="../img/order-image.jpg" alt="Наша работа" />
        </div>
      </div>
    </div>
  </div>
</section>
