<section class="order">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-lg-6 col-md-6 col-xs-12">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Лучший клинговый сервис</span>
        </div>
        <div class="order__title main-title">
          <h1>
            Клининговая компания Лучшие
            <span class="order__title--elipse">услуги</span>
          </h1>
        </div>
        <div class="order__text">
          Обратившись в нашу клининговую компанию вы получите клининговые услуги
          на высочайшем уровне, и индивидуальный подход к каждому клиенту.
        </div>
        <button class="order__btn main-btn">Заказать уборку</button>
      </div>

      <div class="col-xxl-6 col-md-6 col-xs-12">
        <div class="order__images">
          <picture>
            <source srcset="../img/order-image.avif" type="image/avif" />
            <source srcset="../img/order-image.webp" type="image/webp" />
            <img
              loading="lazy"
              src="../img/order-image.jpg"
              class="order__image img-fluid"
              width=""
              height=""
              alt="наша работа"
            />
          </picture>
          <img src="../img/order-logo.png" alt="" class="order__logo" />
          <img
            src="../img/circles1.png"
            alt=""
            class="order__circles--1 order__circles"
          />
          <img
            src="../img/circles2.png"
            alt=""
            class="order__circles--2 order__circles"
          />
        </div>
      </div>
    </div>
  </div>
</section>
