<div class="our-workers">
  <div class="container">
    <div class="row">
      <div class="our-workers__circles">
        <img src="../img/circles2.png" alt="" />
      </div>

      <div class="col-12">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Сотрудники</span>
        </div>
        <div class="our-workers__title main-title">
          <h1>Наша команда</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="our-workers__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="our-workers__item">
                <picture>
                  <source
                    srcset="../img/our-workers-worker.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../img/our-workers-worker.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="../img/our-workers-worker.png"
                    class="our-workers__image"
                    alt=""
                  />
                </picture>
                <div class="our-workers__text">
                  <h2 class="our-workers__name">Юрий</h2>
                  <p>Опыт работы 7 лет</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="our-workers__item">
                <picture>
                  <source
                    srcset="../img/our-workers-worker.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../img/our-workers-worker.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="../img/our-workers-worker.png"
                    class="our-workers__image"
                    alt=""
                  />
                </picture>
                <div class="our-workers__text">
                  <h2 class="our-workers__name">Юрий</h2>
                  <p>Опыт работы 7 лет</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="our-workers__item">
                <picture>
                  <source
                    srcset="../img/our-workers-worker.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../img/our-workers-worker.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="../img/our-workers-worker.png"
                    class="our-workers__image"
                    alt=""
                  />
                </picture>
                <div class="our-workers__text">
                  <h2 class="our-workers__name">Юрий</h2>
                  <p>Опыт работы 7 лет</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination our-workers__pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
