<div class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Отзывы</span>
        </div>
        <div class="reviews__title main-title">
          <h1>Что о нас говорят</h1>
        </div>
        <div class="reviews__logo">
          <picture>
            <source srcset="../img/reviews-logo.avif" type="image/avif" />
            <source srcset="../img/reviews-logo.webp" type="image/webp" />
            <img
              loading="lazy"
              src="../img/reviews-logo.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <button class="main-btn reviews__btn">Оставить отзыв</button>
      </div>
      <div class="col-md-8 col-12">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__top">
                  <picture>
                    <source
                      srcset="../img/reviews-avatar.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="../img/reviews-avatar.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="../img/reviews-avatar.png"
                      class="reviews__image"
                      width=""
                      height=""
                      alt=""
                    />
                  </picture>
                  <span>Алексей</span>
                </div>
                <p class="reviews__text">
                  Обратившись в нашу клининговую компанию вы получите
                  клининговые услуги на высочайшем уровне, и индивидуальный
                  подход к каждому клиенту. Обратившись в нашу клининговую
                  компанию вы получите клининговые услуги на высочайшем уровне,
                  и индивидуальный подход к каждому клиенту. Обратившись в нашу
                  клининговую компанию вы получите клининговые услуги на
                  высочайшем уровне, и индивидуальный подход к каждому клиенту.
                </p>
                <div class="reviews__rate">
                  <img src="../img/rate.png" alt="Оценка 5" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__top">
                  <picture>
                    <source
                      srcset="../img/reviews-avatar.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="../img/reviews-avatar.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="../img/reviews-avatar.png"
                      class="image"
                      width=""
                      height=""
                      alt=""
                    />
                  </picture>
                  <span>Алексей</span>
                </div>
                <p class="reviews__text">
                  Обратившись в нашу клининговую компанию вы получите
                  клининговые услуги на высочайшем уровне, и индивидуальный
                  подход к каждому клиенту. Обратившись в нашу клининговую
                  компанию вы получите клининговые услуги на высочайшем уровне,
                  и индивидуальный подход к каждому клиенту. Обратившись в нашу
                  клининговую компанию вы получите клининговые услуги на
                  высочайшем уровне, и индивидуальный подход к каждому клиенту.
                </p>
                <div class="reviews__rate">
                  <img src="../img/rate.png" alt="Оценка 5" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__top">
                  <picture>
                    <source
                      srcset="../img/reviews-avatar.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="../img/reviews-avatar.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="../img/reviews-avatar.png"
                      class="image"
                      width=""
                      height=""
                      alt=""
                    />
                  </picture>
                  <span>Алексей</span>
                </div>
                <p class="reviews__text">
                  Обратившись в нашу клининговую компанию вы получите
                  клининговые услуги на высочайшем уровне, и индивидуальный
                  подход к каждому клиенту. Обратившись в нашу клининговую
                  компанию вы получите клининговые услуги на высочайшем уровне,
                  и индивидуальный подход к каждому клиенту. Обратившись в нашу
                  клининговую компанию вы получите клининговые услуги на
                  высочайшем уровне, и индивидуальный подход к каждому клиенту.
                </p>
                <div class="reviews__rate">
                  <img src="../img/rate.png" alt="Оценка 5" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination reviews__pagination"></div>
        </div>
        <div class="reviews__arrows arrows">
          <div class="reviews__button-prev arrow">
            <svg class="arrow-left">
              <use xlink:href="img/sprite.svg#slider-arrow(left)"></use>
            </svg>
          </div>
          <div class="reviews__button-next arrow">
            <svg class="arrow-right">
              <use xlink:href="img/sprite.svg#slider-arrow(right)"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
