<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="order__first first">
          <svg class="line">
            <use xlink:href="img/sprite.svg#line"></use>
          </svg>
          <span>Услуги</span>
        </div>
        <div class="services__title main-title">
          <h1>
            Наши услуги
          </h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-1.webp" type="image/svg+xml">
              <img src="../img/services-img-1.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-1.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Уборка квартир</h2>
            <p class="card__text">Профессиональная уборка квартир
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Генеральная уборка квартиры
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Уборка квартиры после ремонта
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-2.webp" type="image/svg+xml">
              <img src="../img/services-img-2.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-2.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Уборка коттеджей</h2>
            <p class="card__text">Уборка коттеджей и частных домов
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Генеральная уборка коттеджей
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Уборка коттеджей после ремонта
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-3.webp" type="image/svg+xml">
              <img src="../img/services-img-3.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-3.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Уборка офисов</h2>
            <p class="card__text">Профессиональная уборка офисов
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Генеральная уборка офисов
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Уборка офисов после ремонта
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card card--offset">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-4.webp" type="image/svg+xml">
              <img src="../img/services-img-4.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-4.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Химчистка</h2>
            <p class="card__text">Химчистка ковров на дому
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Химчистка ковров с вывозом в цех
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Химчистка мягкой мебели
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Химчистка матрасов на дому
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card card--offset">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-5.webp" type="image/svg+xml">
              <img src="../img/services-img-5.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-5.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Чистка бассейнов</h2>
            <p class="card__text">Профессиональная чистка бассейнов
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Чистка душевых кабин
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Чистка сауны, хамам, бани
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Экологическая уборка
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="services__card card card--offset">
          <div class="card__top">
            <picture>
              <source srcset="../img/services-img-5.webp" type="image/svg+xml">
              <img src="../img/services-img-5.png" class="card__image" alt="картинка уборка квартир">
            </picture>
            <img loading="lazy" src="../img/svg/services-logo-6.svg" class="card__logo" width="80" height="80" alt="">
          </div>

          <div class="card__body">
            <h2 class="card__title">Мойка фасадов</h2>
            <p class="card__text">Чистка кондиционеров
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Озонирование и Дезинфекция
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Размывка пола после ремонта
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
            <p class="card__text">Мытье окон, витрин, фасадов
              <svg class="card__arrow">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
