// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

* {
  padding: 0px;
  margin: 0px;
  border: none;
}
// подключения компонентов страницы
@import "./components/header";
@import "./components/header2";

// тестовые стили, удалите их


